@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    background-color: #045de9;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    text-align: center;
    font-size:45px ;
    color: blue;
    font-family: 'Lobster', cursive;
}

.container{
    margin: 0;
    padding: 50px;
    width: 60%;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;            
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

label {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.recipient_field, .codename_field {
    width: 100%;
}

.recipient_field {
    margin-right: 5%;
}

.recipient_field select {
   border: 1px solid #09c6f9;
   background-color: aliceblue;
}

.recipient_field select, .codename_field input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.codename_field input{
    border: 1px solid #09c6f9;
}

.text_field {
    margin-top:50px;
    height: 50%;
}

.text_field textarea{
    padding: 10px;
    height: 150px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #09c6f9;
    border-radius: 10px;
}

.submitBtn {
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: white;
}

.submitBtn:hover {
    background-color: #044dc3;
    background-image: linear-gradient(315deg, #0151d0 0%, #09b0de 74%);
}

@media only screen and (max-width: 600px) {
    .container{
        margin: 50px 0;
        width: 65%;
    }

    .section{
        flex-direction: column;
    }
    .section div{
        margin: 10px 0;
    }
  }
